h1 {
	color: black;
	text-align: center;
	margin-top: 10%;
  font-size: xx-large;
}

.résa {
  margin-top: 10%;
}

.qui {
  background-color: rgba(255,255,255,0.4);
  margin-top: 10%;
  margin-right: 50%;
  font-size: large;
}

body {
	margin:0;
  height: 50px;
  width: 1500px;
}

.valider {
  background-color: rgba(255,255,255,0.4);
}

/*si pas activé*/
.box input[type="radio"], .box form {
  display:none;
}

/*quand la box est validée*/
.box input[type="radio"]:checked ~ form {
  display:block;
}


/*Les bordures et les paddings ne seront plus élargis pour tous les éléments*/
* {
  box-sizing: border-box;
}

/*pour la barre de menu*/
nav {
  position:fixed;
  z-index:2;
  top:0;
  width: 100%;
  background: rgb(34,34,34) linear-gradient(to bottom, rgb(68,68,68),rgb(34,34,34));/*gris foncé, gris*/
  color: rgb(221,221,221);/*gris pâle*/
  text-align:right;
}

/*pour tous les enfants de nav, les noms des éléments des formulaires*/
nav>*, .box form>label[for="none"] {
  display:inline-block;
  padding:0 20px;
  font-size:120%;
  line-height:40px;
  text-transform: uppercase;
  font-family:sans-serif;
  cursor:pointer;
}

/*au passage de la souris, sur tous les enfants de nav, les noms des éléments des formulaires*/
nav>*:hover, .box form>label[for="none"]:hover {
  background: hsla(0,0%,100%,0.1);
}

/*au clic*/
nav>*:active {
  background: linear-gradient(to top, rgb(68,68,68),rgb(34,34,34));
}

/*la partie formulaire des box*/
.box form {
  position:fixed;
  top:40px;
  right:0;
  width:300px;
  background:rgb(34,34,34);
  padding:10px;
  padding-top:0px;
  box-shadow: 0px 0px 8px 4px rgb(68,68,68);
}

/*les inputs des formulaires*/
.box form>input {
  display:block;
  width: calc(100% - 20px);
  margin:10px;
}

/*les noms des formulaires*/
.box form>label[for="none"] {
  position:fixed;
  top:40px;
  right:0;
  color: rgb(221,221,221);
}

/*les titres des box*/
.box h3{
  color:rgb(221,221,221);
  text-align:center;
  padding:0 20px;
  margin:0;
  font-size:120%;
  line-height:40px;
  text-transform: uppercase;
  font-family:sans-serif;
}

.champ {
  color: white;
  margin-left: 3%;
}
.civi {
  margin-left: -7%;
}
select {
  margin-left: 3%;
}
.fond {
	background-image: url(img/californie.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
	background-size: cover;
}

footer {
	margin-top: 80%;
  background-color: rgba(255,255,255,0.4);
}

.contact {
	margin-top: 60%;
  background-color: rgba(255,255,255,0.4);
}

p {
  margin-top: 0px;
}
 
fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
.champs {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
 
em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
 
input:focus {
  background: #eaeaea;
}
 
input, textarea {
  width: 249px;
}
 
textarea {
  height: 100px;
}
 
select {
  width: 254px;
}
 
input[type=checkbox] {
  width: 10px;
}
 
input[type=submit] {
  width: 150px;
  padding: 10px;
}
.retour {
	margin-left: 2%;
}
